<%- include('../partials/boilerplate'); %>
<%- include('../partials/nav'); %>

<h1>Register Page</h1>
<div class="user-container">
    <form method="POST" action="/user">
        <input name="username" type="text" placeholder="Username" required />
        <input name="email" type="email" placeholder="Email" required />
        <input name="password" type="password" placeholder="Password" required />
        <input name="name" type="text" placeholder="Name" required />
        <input type="submit" value="Register" />
    </form>
</div>

<%- include('../partials/end'); %>