<div class="nav">
    <div class="logo">Logo</div>
    <div class="pages">
        <ul>
            <li><a href="/">Home</a></li>
            <li class="midli"><a href="#">About</a></li>
            <li><a href="/todos">ToDos</a></li>
        </ul>
    </div>
</div>