<div class="nav">
    <div class="logo">Logo</div>
    <div class="pages">
        <ul>
            <li class="navli" id="leftli"><a href="/">Home</a></li>
            <li class="navli" id="midli"><a href="/about">About</a></li>
            <li class="navli" id="rightli"><a href="/todos">ToDos</a></li>
        </ul>
    </div>
</div>