<%- include('./partials/boilerplate'); %>
<div class="about">
    <h3>About This App</h3>
    <p>Your search for a quick and simple To-Do app is over! The To-Do app is all you will ever need from this point on.</p>
    <p>With a simple and straightforward design, its never been easier to keep track of everything you need to do.</p>
</div>
<%- include('./partials/end'); %>