<%- include('./partials/boilerplate'); %>
<%- include('./partials/nav'); %>
<h1>Hello there</h1>
<h1>Welcome to the Todo App</h1>
<div>
    <a href="/auth/login">Login</a>
</div>
<div>
    <a href="/user/new">Register</a>
</div>
<%- include('./partials/end'); %>