<%- include('./partials/boilerplate'); %>
<h1>Welcome to the Todo App</h1>
<div class="home-credentials">
    <ul>
        <li><a href="/auth/login"><button>Login</button></a></li>
        <li><a href="/user/new"><button>Register</button></a></li>
    </ul>
</div>
<%- include('./partials/end'); %>