/* Global Styling */
body, footer, .nav, form, .user-container, .about, .container, .todos, .finished, .todo, .todo-single, .todo-upper, .todo-lower, .lwr-left, .lwr-right  {
    display: flex;
}

body {
    min-height: 100vh;
    flex-direction: column;
    font-family: sans-serif;
    align-items: center;
    justify-content: center;
    margin: 0 20%;
}
h1 {
    font-size: 36px;
    text-align: center;
}

li {
    display: inline;
    padding: 0 10px;
}

a {
    text-decoration: none;
}

form {
    flex-direction: column;
    align-items: center;
}

input {
    margin: 10px 0;
    padding: 5px 0;
    border-top: none;
    border-left: none;
    border-right: none;
}

button, input[type=submit] {
    text-align: center;
    padding: .1em;
    margin: .1em;
    border: none;
    cursor: pointer;
    min-width: 42px;
    max-width: 100px;
    border-radius: 10px;
}

button:hover, input[type=submit]:hover {
    background-color: skyblue;
}

.addnewdiv {
    position: static;
    padding-top: 3vh;
}

.new {
    width: 84px;
    height: 35px;
}

/* views/partials/nav */
.nav {
    min-width: 100vw;
    height: 20px;
    justify-content: space-between;
    border-bottom: silver solid;
    position: absolute;
    top: 0;
    background-color: white;
}

.logo {
    margin: 0 10px;
}

#midli {
    border-left: silver solid;
    border-right: silver solid;
}

.active {
    background-color: skyblue;
}

/* views/partials/end */

footer {
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    border-top: silver solid;
    position: fixed;
    bottom: 0;
    background-color: white;
}

/* views/index */
.home-credentials {
    padding: 4vh 0;
}

/* views/auth/login and register */
.user-container, .about {
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 30vw;
    padding: 10px;
    margin: 10px;
    background-color: silver;
    border-radius: 10px;
}

.about {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* views/todos/index */
.container {
    flex-direction: row;
    width: 80vw;
}

.todos, .finished {
    flex-direction: column;
    width: 40vw;
}

.todo {
    flex-direction: column;
    height: 50px;
    padding: 10px;
    margin: 10px;
    background-color: silver;
    border-radius: 10px;
}

.todo-upper, .todo-lower {
    flex-direction: row;
    justify-content: space-between;
    flex-grow: inherit;
    flex-wrap: wrap;
}

.todo-upper {
    border-bottom: black double;
}

.lwr-left, .lwr-right {
    margin-top: 10px;
    flex-direction: row;
    justify-content: flex-end;
}

.addnewdiv {
    margin-top: 2vh;
}

/* views/todos/show add and edit */
.todo-single {
    flex-direction: column;
    flex-grow: .5;
    justify-content: space-around;
    align-items: center;
    height: 250px;
    width: 30vw;
    padding: 10px;
    margin: 10px;
    background-color: silver;
    border-radius: 10px;
}