<%- include('../partials/boilerplate') %>
    
    <div class="todo-single">
        <form method="POST" action="/todos">
            <input name="title" type="text" placeholder="Title" />
            <input name="category" type="text" placeholder="Category" />
            <input name="description" type="text" placeholder="Description" />
            <input name="status" type="text" value="To-Do" readonly="readonly"/>
            <input type="submit" value="Submit" />
        </form>
        <a href="/todos/">Back to List</a>
    </div>

<%- include('../partials/end') %>