<%- include('../partials/boilerplate'); %>
    <div class="addnewdiv">
        <a href="/todos/add"><button class="new">New Todo!</button></a>
    </div>
    <div class="container">
        <div class="todos">
            <% for (let todo of data.todos) { %>
                <% if(todo.status === 'To-Do') { %>
                    <%- include('../partials/todoitems', {todo}) %>
                <% } %>
            <% } %>
        </div>
        <div class="finished">
            <% for (let todo of data.todos) { %>
                <% if(todo.status === 'Done') { %>
                    <%- include('../partials/todoitems', {todo}) %>
                <% } %>
            <% } %>
        </div>
    </div>

<%- include('../partials/end'); %>